recommender_system_experiments/data/
qdrant_storage/
recommender_system_experiments/src
recommender_system_experiments/challange/
**/.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
**/.venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

*.pkl

.idea/